In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.DataFrame({
    'Fruit' : ['Mango', 'Apple', 'Kiwi', 'Orange', 'Pinapple', 'Mango', 'Apple', 'Kiwi', 'Orange']
})

df

      Fruit
0     Mango
1     Apple
2      Kiwi
3    Orange
4  Pinapple
5     Mango
6     Apple
7      Kiwi
8    Orange

In [7]:
lb = LabelEncoder()

df['Fruit Code'] = lb.fit_transform(df['Fruit'])

df

      Fruit  Fruit Code
0     Mango           2
1     Apple           0
2      Kiwi           1
3    Orange           3
4  Pinapple           4
5     Mango           2
6     Apple           0
7      Kiwi           1
8    Orange           3